* {
    padding: 0px;
    margin: 0px;
    box-shadow: border-box;
}
html, body {
    background-color: #ffffff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0px;
    user-select: none;
}
header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
}
header:after {
    position: absolute;
    display: block;
    content: '';
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
}
header .content {
    position: relative;
    z-index: 1;
}
header .content h1 {
    color: #636b6f;
    font-size: 42px;
    font-weight: 200;
    margin: 5px 0px;
}
@media screen and (min-width: 480px) {
    header .content h1 {
        font-size: 36px;
    }
}
@media screen and (min-width: 768px) {
    header .content h1 {
        font-size: 42px;
    }
}
@media screen and (min-width: 1024px) {
    header .content h1 {
        font-size: 56px;
    }
}
@media screen and (min-width: 1280px) {
    header .content h1 {
        font-size: 72px;
    }
}
header .content .text {
    font-size: 36px;
    margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
    header .content .text {
        font-size: 42px;
    }
}
@media screen and (min-width: 768px) {
    header .content .text {
        font-size: 56px;
    }
}
@media screen and (min-width: 1024px) {
    header .content .text {
        font-size: 72px;
    }
}
@media screen and (min-width: 1280px) {
    header .content .text {
        font-size: 88px;
    }
}
header .content .links > a {
    position: relative;
    display: inline-block;
    color: #636b6f;
    padding: 0px 25px;
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}
header .content .links > a:after {
    position: absolute;
    display: block;
    content: '';
    background-color: #636b6f;
    height: 1px;
    width: 0%;
    left: 50%;
    transition: width 0.3s ease-in-out;
    transform: translateX(-50%);
}
header .content .links > a:hover:after,
header .content .links > a:focus:after {
    width: 100%;
}
.reload:before {
    content: '\f1d9';
    font-family: 'FontAwesome';
    margin-right: 3px;
    font-size: 17px;
    vertical-align: inherit;
}

.input {
    width: 95%;
    height: 1.2em;
    padding: 0.3em 0.4em 0.2em 0.4em;
    font-size: 23px;
    font-weight: bold;
    text-align: left;
    color: #636b6f;
    border-radius: 7px;
    border: 2px solid #636b6f;
    outline: none;
}

.input:focus {
    color: #0066CC;
    border: 2px solid #0066FF;
}

.input:focus + .label {
    margin-bottom: 2em;
    font-size: 20px;
    background-color: white;
    color: #0066CC;
    cursor: default;
}

.input:valid {
    border: 2px solid #0066CC;
}

.input:valid + .label{
    color: #0066CC;
    outline: none;
    margin-bottom: 2em;
    font-size: 20px;
    background-color: white;
    color: #0066CC;
    cursor: default;
}

.label {
    cursor: text;
    position: absolute;
    left: 0.5em;
    font-weight: bold;
    font-size: 23px;
    transition: .2s;
    height: auto;
    line-height: .5;
}

.form {
    display: flex;
    align-items: center;
}